.formulario {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 6px;
}

.form,
.respuesta {
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    border-radius: 6px;
}

.form {
    padding: 10px;
}

#result {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    place-items: center;
    text-align: center;
}

#altura {
    grid-area: 1/1/3/2;
    justify-self: end;
}

#area,
#figura {
    grid-area: 1/2/3/4;
}

#base {
    grid-area: 3/2/4/4;
    align-self: self-start;
}

#figura {
    font-size: 100px;
}